MONGO_URI=mongodb+srv://<user>:<password>@cluster0.xxx.mongodb.net/ics385
SESSION_SECRET=your_long_random_session_secret_here

GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

VITE_WEATHER_KEY=your_openweathermap_key_here

// for development, set NODE_ENV to "development", for production, set it to "production"
NODE_ENV=development
NODE_ENV=production